.hello
  border 1px solid black
  margin 10px
  padding 10px

  p
    color #2b81af

  input
    background-color #e8e8e8

  div
    background-color #2b81af
    color white
    cursor pointer
    display inline-flex
    font-weight bold
    margin 2px
    padding 5px

    &:hover
      background-color #0268AF